<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>END_POINT</key>
		<string></string>
        <key>GOOGLE_CLIENT_ID</key>
        <string>90800465088-f93josvvig5si9ql77p0n0jgt1hilk0l.apps.googleusercontent.com</string>
	</dict>
	<key>Staging</key>
	<dict>
		<key>END_POINT</key>
		<string></string>
        <key>GOOGLE_CLIENT_ID</key>
        <string>90800465088-f93josvvig5si9ql77p0n0jgt1hilk0l.apps.googleusercontent.com</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>END_POINT</key>
		<string></string>
        <key>GOOGLE_CLIENT_ID</key>
        <string>90800465088-f93josvvig5si9ql77p0n0jgt1hilk0l.apps.googleusercontent.com</string>
	</dict>
</dict>
</plist>
